body, html {
    height: 100%;
    margin: 0;
    background-color: white;
    font-size: 20px;
}
.hoved {    /*Diverse bakgrunner og tekstfelt*/
    background-color: #49F273;
    margin: 12px;
    padding: 13px;
    border-style: double;
    border-width: 4px;
}

#cookies{
    z-index:2;
    background-size: cover;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    width: 100%;
    height: 1400px;
}

.textbox {
    display: flex;
    background-color: #BDF24B;
    margin: 12px;
    padding: 13px;
    border-style: double;
    border-width: 4px;
}

#cookieAksepter {
    font-size: 18px;
    width: 200px;
    height: 40px;
    background-color: #49F273;
    border-radius: 45px;
    cursor: pointer;
}
#cookieAksepter:hover:not(.active) {
    background-color: green;
}

.panels{
    width: 400px;
}

.post {
    font-family: Arial, sans-serif;
    background-color: #F24BC6;
    top: 70px;
    left: 0;
    position: relative;
    width: 350px;
    height: 430px;
    padding: 12px;
    border: black solid;
    border-radius: 0 30px 0 0 ;
    z-index: 2;
}
.sort {
    font-family: Arial, sans-serif;
    background-color: #F2784B;
    top: 70px;
    left: 0;
    position: relative;
    width: 350px;
    height: 430px;
    padding: 12px;
    border: black solid;
    border-radius: 0 0 30px 0 ;
    z-index: 2;
}
.galleriPlass{
    display: flex;
}
.kategoriMeny {
    width: 200px;
    height: 30px;
}
.kategoriMenyValg{
    text-align: center;
}
.lastOpp {
    position: relative;
    border-radius: 15px;
    background-color: white;
    border: none;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: right;
    bottom: 35px;

}
.lastOpp:hover{
    background-color: #46B3EA;
}

input[type="text"],
input[type="number"],
textarea,
select {
    display: block;
    margin-top: 2px;
    margin-bottom: 10px;}

.innleggFelt {
    display: flex;
    flex-wrap: wrap;
}
.innlegg {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    width: auto;
    max-width: 550px;
    height: auto;
    font-family: Helvetica;
    background-color: aquamarine;
    margin: 35px;
}

.example{
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    width: auto;
    height: auto;
    font-family: Helvetica;
    background-color: aquamarine;
}

.navn {
    padding: 20px;
    border-bottom: solid black 3px;
    text-align: center;
    font-family: cursive;
}

.foto {
    width: 100%;
    height: auto;
}

.bilde {
    height: auto;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 550px;
}

.kategori {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border-bottom: solid black 3px;
    border-top: solid black 3px;
    background-color: yellow;
}

.beskrivelseOgTags {
    border: black;
    padding: 15px;
}

.kategoriEksempel {
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    border-bottom: solid black 3px;
    border-top: solid black 3px;
    background-color: yellow;
}

.tags {
    display: inline;
    border: solid black;
    border-radius: 15px;
    text-align: center;
    background-color: lightgrey;
    margin: 15px;
    padding: 10px;
}

.logo {
    min-width: 300px;
    border-radius: 68px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". b r ."
                         "p p p p";
    background-color: black;
    margin: 5px;
    padding: 12px;
}
.circle {
     margin: 0 auto;
     border-radius: 50%;
     background: #BDF24B;
     height: 60px;
     aspect-ratio: 1;
 }

.platform {
    grid-area: p;
    height: 60px;
    background: #49F273;
    border-radius: 0 0 50% 50%;
}

.dome {
    width: 90px;
}
.blue {
    background-color: #804BF2;
    border-radius: 75% 0 0 0;
    grid-area: b;
}
.red {
    background-color: #F2784B;
    border-radius: 0 75% 0 0;
    grid-area: r;
    justify-self: left;
}

.banner {       /*header og tittel*/
    background-image: url("bilder/artsy.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-style: solid;
}
.header {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
}

.navigering {       /*navbar*/
    z-index:3;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2784B;
    border-style: solid;
    border-radius: 0 0 30px 30px;
    border-width: 5px;
    top: 0;
    position: sticky;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}
.meny {
    width: 300px;
}
li a:hover:not(.active) {
    background-color: #46B3EA;

}
.active {
    background-color: #804BF2;
}