body, html {
    height: 100%;
    margin: 0;
    background-color: white;
    font-size: 20px;
}
.hoved {    /*Diverse bakgrunner og tekstfelt*/
    background-color: #49F273;
    margin: 12px;
    padding: 13px;
    border-style: double;
    border-width: 4px;
}

#cookies{
    z-index:99999;
    background-size: cover;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    width: 100%;
    height: 1400px;
}

.textbox {
    display: flex;
    background-color: #BDF24B;
    margin: 12px;
    padding: 13px;
    border-style: double;
    border-width: 4px;
}

#cookieAksepter {
    font-size: 18px;
    width: 200px;
    height: 40px;
    background-color: #49F273;
    border-radius: 45px;
    cursor: pointer;
}
#cookieAksepter:hover:not(.active) {
    background-color: green;
}

.example{
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    width: 800px;
    height: auto;
    font-family: Helvetica;
    background-color: aquamarine;
}

.navn {
    padding: 3px;
    border-bottom: solid black 3px;
}

.foto {
    width: 100%;
    height: auto;
}

#innlegg {
    height: auto;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.kaNatur {
    display: block;
    width: 100%;
    text-align: center;
    background-color: red;
    border-bottom: solid black 3px;
    border-top: solid black 3px;
}

.beskrivelseOgTags {
    border: black;
    min-height: 100px;
}

.tags {
    display: inline;
    border: solid black;
    border-radius: 15px;
    text-align: center;
    background-color: lightgrey;
    margin: 15px;
    padding: 10px;
}

.banner {       /*header og tittel*/
    background-image: url("artsy.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-style: solid;

}
.header {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
}

.navigering {       /*navbar*/
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2784B;
    border-style: solid;
    border-radius: 0 0 30px 30px;
    border-width: 5px;
    top: 0;
    position: sticky;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.meny {
    width: 300px;
}
li a:hover:not(.active) {
    background-color: #46B3EA;

}
.active {
    background-color: #804BF2;
}